footer {
	//background: url( images/bg-footer.png ) right center / 100% no-repeat;
	background: $yellow;
	padding: 40px 0;
	
	.row {
		justify-content: space-between;

		@media all and (max-width:991px) {
			padding: 0 15px;
		}
	}

	.info {
		p {
			text-transform: uppercase;
			font-weight: 300;
			margin-bottom: 30px;
		}

		a {
			font-weight: 300;
			color: #000000;
		}
	}

	.social {
		display: flex;
		flex-direction: row;

		a {
			color: #000000;
			margin-left: 20px;
		}
	}

	.links {
		display: flex;
		flex-direction: column;

		a {
			color: #000000;
		}
	}
}