body {
    font-family: $f1;
    font-size: 14px;
    line-height: 24px;
    height: 100vh;
    background: url( images/bg.jpg ) center center / 100% repeat-y;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
}

.countdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 20px;

    span {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        align-items: center;
    }

    i {
        font-size: 6px;
        font-style: normal;
    }
}

.raffle-countdown {
    .countdown {
        span {
            font-size: 40px;
            min-width: 80px;
        }

        i {
            margin-top: 10px;
            font-size: 14px;
        }
    }
}