// Font family
.fi {
    font-family: $f1; // iCiel
}
.fd {
    font-family: $f2; // Dimitri
}
.fw-300 {
    font-weight: 300;
}
.ttu {
    text-transform: uppercase;
}
.ttc {
    text-transform: capitalize;
}

// Font size
.sz-16 {
    font-size: 16px;
}
.sz-20 {
    font-size: 20px;
}
.sz-26 {
    font-size: 26px;
}
.sz-36 {
    font-size: 36px;
}
.sz-48 {
    font-size: 48px;
}
.sz-60 {
    font-size: 60px;
}
.sz-72 {
    font-size: 72px;
}
.sz-250 {
    font-size: 250px;
}


// Color
.txt-yl {
    color: $yellow;
}


// Common
.smooth {
    transition: .2s;
}
.bs {
    box-shadow: -15px -15px 25px rgba(#000, 0.6);
}
.stroke {
    @supports (-webkit-text-stroke: 4px #fff) {
        -webkit-text-stroke: 4px #fff;
    }
}

.stroke-2 {
    @supports (-webkit-text-stroke: 1px #fff) {
        -webkit-text-stroke: 1px #fff;
    }
}

.btn {
    padding: 14px 35px 13px;
    border-radius: 999px;
    color: #000000;

    &.bg-yl {
        background: $yellow;
        
        &:hover {
            background: #000000;
            color: $yellow;
        }
    }
}