// Font size
.sz-16 {
    font-size: 16px;
}
.sz-20 {
    font-size: 20px;
}
.sz-26 {
    font-size: 26px;
}
.sz-36 {
    font-size: 36px;
}
.sz-48 {
    font-size: 48px;
}
.sz-60 {
    font-size: 60px;
}


// Common
.smooth {
    transition: .2s;
}
.bs {
    box-shadow: -15px -15px 25px rgba(#000, 0.6);
}