.home {
    .products-slider {
        transform: translateX(100px);
        margin: 100px 0 80px;
        .slick-list {
            overflow-x: hidden;
            overflow-y: visible !important;
        }

        .item {
            padding: 10px 15px;
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 90px;
                height: 90px;
                position: absolute;
                z-index: -1;
                top: -10px;
                left: 5px;
                background: $yellow;
            }

            &:hover {
                &:before {
                    background: #b2b2b2;
                }
                h2 {
                    display: block;
                }
            }

            img {
                width: 100%;
            }

            h2 {
                padding: 22px 25px;
                background: rgba( #000, 0.9 );
                text-transform: uppercase;
                font-size: 16px;
                color: #ffffff;
                position: absolute;
                bottom: 10px;
                left: 15px;
                right: 15px;
                display: none;
            }
        }

        .slick-arrow {
            position: absolute;
            top: calc( 100% - 17px );
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            cursor: pointer;

            &.slick-next {
                left: calc( 70% + 80px );
                background: $yellow;
            }

            &.slick-prev {
                left: 70%;
                background: #b2b2b2;
            }
        }

    }
    
    .link-to-shop {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .intro {
        padding: 50px 0 10px;
        background: url(images/header-vector.png) #ffffff center center / contain no-repeat;

        .col-md-6 {
            &:nth-child(2) {
                position: relative;
                img {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }

        h2 {
            font-size: 36px;
            text-transform: uppercase;
            text-align-last: left;
            margin-bottom: 20px;
            position: relative;

            span {
                z-index: 2;
                position: inherit;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0px;
                left: -15px;
                width: 400px;
                height: 20px;
                background: #d8d8d8;
                z-index: 0;
            }
        }

        img {
            width: 90%;
            border: 5px solid $yellow;
            margin-bottom: 50px;
            border-radius: 5px;
        }

        p {
            text-align: justify;
            margin-bottom: 50px;
        }
    }
}