#customer_login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login {
	h2 {
		font-weight: 300;
		text-align: center;
		margin: 100px 0px 30px;
		font-size: 48px;
	}
	
	.lost_password {
		display: block;
		font-weight: 300;
		color: #000;
		text-decoration: underline;
	}

	input {
		&[type=text], &[type=password], &[type=email] {
			width: 100%;
			background: none !important;
			border: 0;
			border-bottom: 1px solid $yellow;
			height: 30px;
			line-height: 30px;
			font-weight: 300;
			padding: 0px 15px;
			border-radius: 0;
		}
	}

	label {
		font-weight: 300;
		white-space: nowrap;
		margin-top: 30px;
		display: block;
	}
}



.woocommerce-privacy-policy-text {
	display: none;
}

#customer_details {
	margin-bottom: 50px;

	> * {
		padding: 0;
	}
}

.woocommerce {

	form .form-row {
		font-size: 16px;
	
		h3 {
			font-weight: 300;
			margin-bottom: 30px;
		}
	
		label {
			margin-top: 20px;
		}
	
		input,
		textarea,
		.select2-container--default .select2-selection--single {
			background: none;
			border: 0;
			border-bottom: 1px solid $yellow;
			border-radius: 0;
	
			.select2-selection__rendered {
				padding: 0;
			}
		}
	}

	fieldset {
		margin-top: 40px;
		padding: 20px 20px 30px;

		legend {
			color: $yellow;
			padding: 0 10px;
		}
	}

	table.shop_table {
		border: 1px solid $yellow !important;
		border-radius: 0 !important;

		tfoot th,
		td {
			border-top: 1px solid $yellow !important;
		}
	} 

	form.checkout_coupon,
	form.login,
	form.register {
		border: 0;
	}

	.woocommerce-form-login {
		&__rememberme {
			display: block;
		}
	}

	#respond input#submit,
	a.button,
	button.button,
	input.button,
	.woocommerce-form-login .woocommerce-form-login__submit,
	#respond input#submit.alt,
	a.button.alt,
	button.button.alt,
	input.button.alt {
		float: none;
		display: block;
		margin: 30px auto 0;
		text-align: center;
		padding: 0 !important;
		border: 0;
		border-radius: 999px;
		color: #000000;
		background-color: $yellow;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 14px;
		height: 50px;
		line-height: 50px;
		width: 200px;
		font-family: $f1;
		&:hover {
			background-color: #000000;
			color: $yellow;
		}
	}

	.actions {
		position: relative;

		.coupon {
			display: flex;

			input {
				width: 200px !important;
			}
		}

		button.button {
			margin: 0 50px;

			@media all and (max-width:991px) {
				margin: 0;
			}

			&[name=update_cart] {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);

				@media all and (max-width:991px) {
					position: inherit;
					transform: none;
				}
			}
		}
	}
}

.enrolled-ban {
	&.banned {
		background: #000;
		color: #ffffff;
	}
}

.roll-btn {
	background: $orange;
	color: #ffffff;
	cursor: pointer;

}

#save-result-btn {
	background: $green;
	color: #000000;
	cursor: pointer;
}

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		float: none;
		width: 100%;
		margin-top: 50px;
		
		.item {

			&.woocommerce-MyAccount-navigation-link--dashboard {
				display: none;
			}

			&.woocommerce-MyAccount-navigation-link--edit-account {
				order: 1;
			}

			&.woocommerce-MyAccount-navigation-link--edit-address {
				order: 2;
			}

			&.woocommerce-MyAccount-navigation-link--orders {
				order: 3;
			}

			&.woocommerce-MyAccount-navigation-link--customer-logout {
				order: 4;
			}

			&.is-active,
			&:hover {
				a {
					background: $yellow;
				}
			}

			a {
				border: 1px solid $yellow;
				transition: .3s;
				text-align: center;
				font-weight: 300;
				color: #000000;
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
			}
		}
	}

	.woocommerce-MyAccount-content {
		float: none;
		width: 100%;
		margin: 50px 0;
		font-size: 16px;

		.woocommerce-Address,
		p {
			a {
				color: $yellow;
			}
		}
	}
}

.woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th {
	text-align: center;

	a {
		margin: 0 auto;
	}
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	@media all and (max-width:991px) {
		padding: 0;
	}
}